- add_body_class "landing"

- cache "landing" do

  .section.section-primary#hero
    .container

      %p
        Background: #0D3E58
      %p
        Text: #F3EDD6
      %p
        Font: Helvetica

      .row
        .col-sm-6
          .frame
            %p
              %b Today at 6pm
              %br/
              16km, etc, etc
            .button Button color: #DA6260

            %p
            %p
              Call
              %span.glyphicon.glyphicon-phone{style: "float: right"}


        .col-sm-6
          .frame2
            %p
              %b Today at 6pm
              %br/
              16km, etc, etc
            .button Button color: #DA6260


