#map-canvas

:javascript
  window.groups = #{raw @groups.to_json};
  function loadScript() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
        'callback=initMap';
    document.body.appendChild(script);
  }
  loadScript();

