#map-canvas {
  min-height: 800px;
  height: 100%;
}

.frame {
  height: 560px;
  width: 280px;
  padding: 15px 20px;
  color: #F3EDD6;
  background: #0D3E58;
  .button {
    border-radius: 23px;
    height: 50px;
    width: 100%;
    background: #DA6260;
    color: #F3EDD6;
    line-height: 40px;
    vertical-align: middle;
    border: solid 5px #245068;
    border: solid 5px #245068;
    text-align: center;
  }
  .glyphicon {
    color: #19C0C2 !important;
  }
}

.frame2 {
  height: 560px;
  width: 280px;
  padding: 15px 20px;
  color: #FEFDFE;
  background: #39999B;
  .button {
    border-radius: 23px;
    height: 50px;
    width: 100%;
    color: #000;
    /*background: #DA6260;*/
    background: #D7AA35;
    background: #A4D15E;
    color: #2C362A;
    line-height: 40px;
    vertical-align: middle;
    border: solid 5px #4CA2A4;
    text-align: center;
  }

}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  30% { opacity: 0.0; }
  60% { opacity: 1.0; }
}

.container {
  position: relative;
}

body.groups {
  margin-top: 30px;
  padding-top: 50px;
  background: black;
  background: #0D3E58;
  .container {
    min-height: 1200px;
  }

  .live {
    z-index: 1000;
    background: rgba(0,0,0,0.2);
    color: $red;
    font-weight: bold;
    padding: 15px 70px;
    border: solid 4px $red;
    border-radius: 30px;
    position: fixed;
    bottom: 90px;
    right: 100px;
    font-size: 40px;
    -webkit-transform: rotate(-30deg);
    text-align: center;
    width: 350px;
  }

  h1 {
    font-family: museo-sans;
    font-weight: bold;
    color: #DA6260;
    font-size: 60px;
    position: absolute;
    width: 800px;
    left: 390px;
  }

  .blink {
    animation: blink 2s step-start 0s infinite;
    -webkit-animation: blink 2s step-start 0s infinite;
  }

  .group {
    width: 350px;
    position: absolute;
    &.group0 { left: 0px; top: 0px; }
    &.group1 { left: 380px; top: 190px; }
    &.group2 { left: 30px; top: 480px; }
    &.group3 { left: 700px; top: 510px; }
    &.group4 { left: 840px; top: 130px; }
    .users {
      border: solid 3px $white;
      width: 300px;
      height: 300px;
      border-radius: 150px;
      position: relative;
      background: rgba(255,255,255, 0.2);
    }
    .details {
      color: $white;
      font-weight: bold;
      font-size: 20px;
      padding-top: 10px;
      text-align: center;

    }
    .user {
      width: 100px;
      height: 100px;
      margin-right: 10px;
      position: absolute;
      color: $white;
      img {
        width: 80px;
        height: 80px;
        border-radius: 40px;
        border: solid 2px white;
        box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
      }

      &.user0 { left: 39px; top: 50px; }
      &.user1 { left: 150px; top: 45px; }
      &.user2 { left: 75px; top: 155px; }
      &.user3 { right: 15px; top: 150px; }
      &.user4 { right: -70px; top: 100px; }
    }
  }

}


