$brand-primary: #08a1d5;
$brand-info: $brand-primary;
$brand-warning: #ffa240;


$font-size-base: 16px;
/*@line-height-base: 1.62;*/

$navbar-default-bg: rgba(255,255,255,0.92);
$navbar-default-link-active-bg: rgba(220,220,220,0.3);
$navbar-default-toggle-border-color: transparent;

$font-family-sans-serif: "museo-sans", "Helvetica Neue", sans-serif;
$headings-font-family: "raleway", "georgia";

