$font-size-base: 16px;
/*@line-height-base: 1.62;*/

$white: #F3EDD6;
$red: #DA6260;

$font-family-sans-serif: "museo-sans", "Helvetica Neue", sans-serif;
$headings-font-family: "raleway", "georgia";

